# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# Logs
*.log

# Tests
tests
playwright-report
test-results
jest.config.ts
playwright.config.ts

# Development files
postman
seed-data

# Compose files
compose.yaml

# Documentation
*.md